// Se podria usar este archivo para declarar todas las variables locales que se manejaran en las templates etc

- let sisteName = 'Edteam'
- let page = 'Bienvenidos'
- let metaDescription = 'Este sitio trata de una forma muy'