include config 

include mixins 

doctype 
htmml 
    head 
        title Mi primera pagina web
    body 
        h1 MI PRIMER PAGINA WEB YA TU SABE
            p= sisteName 
        block content

        
        // Lo que se escribe despues del block no importa el nombre que se le de 