.e1Container{
    display: grid;
    height: 300px;
    background-color: yellow;
    font-size: 2em;
    grid-template-columns: 200px 300px 100px 50px ;
    grid-template-rows: 100px ;
}

.e1Item{
    background-color: thistle;
}
.e1Item:nth-child(even){
    background-color: tan;
}


.e2Container{
    display: grid;
    height: 300px;
    background-color: yellow;
    font-size: 2em;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 1fr 6fr 3fr ;
    /* grid-column-gap: 1em;
    grid-row-gap: 1em; */
    /* Shordhand 
    grid-gap: rows, columns */
    gap: 1em;
}

.e2Item{
    background-color: thistle;
}
.e2Item:nth-child(even){
    background-color: lightgreen;
}


.e3body{
    display: grid;
    background-color: yellow;
    min-height: 400px ;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 4em 1fr 4em;
    gap: 1em;
}

header{
    background-color: burlywood;
    /* Indican los numeros de las lineas */
    grid-row-start: 1;
    /*
    grid-column-start:  1;
    grid-column-end: 3; */

    /* Podemos resumirlo con el shordhand
    grid-row: grid-row-start / grid-row-end
    grid-column: grid-column-start / grid-column-end
    */
    grid-column: 1 / 3;

    /* O con la ayuda de span podemos indicar solamente cuantas columnas es que va a ocupar la linea anterior indica que va a ocupar desde la columna 1 a la 3, esto quiere decir que va a ocupar dos posiciones y eso se pude indicar con la etiqueta de span como: */

    grid-column: 1 / span 2;
}
main{
    background-color: cornflowerblue;
    grid-column-start: 2;
    grid-column-end: 3;
}
aside{
    background-color: bisque;
    grid-column-start: 1;
    grid-row-start: 2;
}
footer{
    background-color: darkmagenta;
    grid-row-start: 3;
    grid-column-start:1 ;
    grid-column-end:3 ;
}


.e4body{
    display: grid;
    background-color: yellow;
    min-height: 400px ;
    /* repeat (CANTIDAD_TRACKS, ANCHO_DEL_TRACK) */
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 4em 8em 1fr 4em;
    gap: 1em;
}

header.e4{
    background-color: burlywood;
    /* Indican los numeros de las lineas */
    grid-row-start: 1;
    /*
    grid-column-start:  1;
    grid-column-end: 3; */

    /* Podemos resumirlo con el shordhand
    grid-row: grid-row-start / grid-row-end
    grid-column: grid-column-start / grid-column-end
    */
    grid-column: 1 / 3;

    /* O con la ayuda de span podemos indicar solamente cuantas columnas es que va a ocupar la linea anterior indica que va a ocupar desde la columna 1 a la 3, esto quiere decir que va a ocupar dos posiciones y eso se pude indicar con la etiqueta de span como: */

    grid-column: 1 / span 12;
}
main.e4{
    background-color: cornflowerblue;
    grid-row: 3;
    grid-column: span 9;
}
aside.e4{
    background-color: bisque;
    grid-row: 3;
    grid-column: 1 / span ;
}
footer.e4{
    background-color: rgb(179, 106, 179);
    grid-row: 4;
    grid-column: 1 / span 12;
}

.feature{
    background-color: violet;
    grid-column: span 4;
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
}   