*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.padre{
    border: 2px black dotted;
    display: inline-block;
}
.box{
    display: inline-block;
    background-color: violet;
    width: 100px;
    height: 100px;
}
#tow{
    background-color: cornflowerblue;
}
